.know-page {
  padding: 20px;
  color: #570000;
  text-align: center; /* Center text */
}

.know-page h1 {
  font-size: 64px; /* Increase font size */
  color: #5E99DD; /* Light blue color */
  margin-bottom: 10px;
}

.know-page p {
  font-family: 'Poppins', sans-serif; /* Font style */
  font-size: 20px; /* Smaller font size */
  color: #2D2081; /* Darker blue color */
  margin-bottom: 20px;
}

.facets {
  margin-top: 20px;
}

.facets button {
  margin: 10px;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px; /* Rounded buttons */
  font-family: 'Poppins', sans-serif; /* Font style */
  color: #2D2081; /* Light blue text color */
  background-color: #5E99DD;
  border: 2px solid #4e86c5;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.facets button:hover {
  background-color: #F44A4A; /* Red background on hover */
  color: #fff; /* White text on hover */
}

.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content */
}

.articles, .books, .videos {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to next row */
  justify-content: center; /* Center items */
}

.card {
  background-color: #fff;
  color: #2D2081;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
  width: calc(25% - 40px); /* Adjust width to fit 4 cards per row, accounting for margins */
  text-align: center; /* Center text in cards */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.card:hover {
  transform: scale(1.05);
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.video-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 800px; /* Ensure a large width for the video */
  max-width: 100%;
}

.video-content iframe {
  width: 100%;
  height: 450px;
  border: 5px solid #fff;
}

.video-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}
