/* General styling */
.more-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #D6DFEE, #D6DFEE);
  font-family: 'Poppins', sans-serif;
}

/* Header styling */
.header-body-more {
  padding: 100px 20px 20px; /* Adjust space at the top */
}

.header-content-more {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add space between text and logo */
}

.star-logo-donations {
  width: 300px; /* Adjust size as needed */
  margin-right: 200px; /* Add space between the text and the logo */
}

.header-text-more {
  display: flex;
  flex-direction: column;
}

.header-text-more h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 80px; /* Super big size */
  font-weight: 650;
  color: #5E99DD; /* Light blue color */
  margin-left: 20px;
  text-transform: uppercase;
  text-align: left; /* Align to the left */
}

.header-text-more p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px; /* Adjust size as needed */
  color: #2D2081; /* Light blue color */
  margin-top: 10px;
  text-align: left; /* Align to the left */
  margin-left: 40px; /* Ensure no margin-left */
  max-width: 800px; /* Constrain the width of the paragraph */
}

/* Main content styling */
#content-section-more {
  flex: 1;
}

/* Footer styling */
.footer {
  background-color: #2D2081; /* Dark blue background color */
  color: #5E99DD; /* Light blue text color */
  padding: 40px;
  max-width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.logo-section {
  flex: 1;
}

.footer-logo {
  width: 300px;
  margin-bottom: 10px;
}

.footer-bottom p, b {
  font-family: 'Poppins', sans-serif;
}

.tagline {
  font-size: 12px;
  max-width: 200px;
}

.stay-informed-section, .social-section {
  margin-top: 96px;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  color: #5E99DD;
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.emailInput {
  color: #5E99DD;
  padding: 5px;
  border: 3px solid #5E99DD;
  background-color: transparent;
}

.submit-button {
  font-weight: bold;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #F44A4A;
  color: #5E99DD;
  border: 3px solid #5E99DD;
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  color: #5E99DD;
  font-size: 20px;
}

.footer-bottom {
  border-top: 1px solid #5E99DD;
  padding-top: 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: #5E99DD;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 40px;
}

@media (max-width: 768px) {
  .header-content-more {
    flex-direction: column;
    align-items: center;
  }

  .header-text-more {
    margin-left: 0;
    text-align: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .logo-section, .stay-informed-section, .social-section {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    margin-top: 10px;
  }

  .footer-links a {
    display: block;
    margin: 5px 0;
  }
}
