.action-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .action-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .action-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .action-close:hover,
  .action-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .action-textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .action-button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    color: #D6DFEE;
    background-color: #5E99DD;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .action-button:hover {
    background-color: #2D2081;
  }
  
  .action-message {
    margin-top: 10px;
    font-family: 'Libre Baskerville', serif;
  }
  